# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
build/
dist/
*.egg-info/

# Databases
*.db
*.sqlite3

# IDEs/Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log
